{% extends "base_empty.html" %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block pagetitle %}e-Registry{% endblock %}
{%block jumbotron_title %}eRegistry for major Rare Anaemias{% endblock %}
{%block jumbotron_info %}
        <img src="/media/index_image.jpg"/>
        <br/>
        <div class="btn btn-info btn-lg"><span class="glyphicon"></span>
            EUROPEAN EPIDEMIOLOGICAL SURVEILLANCE FOR MAJOR RARE ANAEMIAS</div>
{% endblock %}
{% block content %}

      <div class="row">
        <div class="col-md-4">
          <b>European Network for Rare and Congenital Anaemias</b>
          <a href="http://www.thalassaemia.org" target=_blank><img src="/media/Enerca_logo.png" width="75%"/></a>
            <br/><br/>
          <p>ENERCA is currently in its fourth phase (e-ENERCA), which started in september 2013. Its main objective is to provide professionals and patients with e-Health tools to ensure the same level of access to rare anaemias services across Europe. e-Health services will be developed through the implementation of three e-platforms endorsed on the ENERCA website.</p>
        </div>
        <div class="col-md-3">
             <b>Work Package Leader:</b>
            <a href="http://www.thalassaemia.org" target=_blank><img src="/media/tif-logo.png" width="80%"/></a>
            <br/>
          <p>TIF is the leader of the Work Package on European epidemiological surveillance for major rare anaemias which aims to develop a centralized electronic registry service for patients with haemoglobin disorders.</p>
        </div>
        <div class="col-md-2">
            <b>Associated partners:</b>
            <a href="http://www.cs.ucy.ac.cy/index.php/en" target=_blank><img src="/media/Department_of_Computer_Science_en.jpg" width="90%"/></a>
            <a href="http://www.umcutrecht.nl/en/-1" target=_blank><img src="/media/umcu_logo.png" width=100%"/></a>
            <a href="http://www.ehu.eus/en/en-home" target=_blank><img src="/media/upv.png" width=90%"/></a>
            <a href="http://www.idibaps.org/" target=_blank><img src="/media/Logo_idibaps_sm.png" width="80%"/></a>
        </div>

        <div class="col-md-3">
          <b>Acknowledgment:</b><br/>
            <b><p>New e-Health Services for the European Reference Network on Rare Anaemias (e-ENERCA)</p></b>
            This eENERCA research project is funded by the European Commission’s Executive Agency for Health and Consumers<br/>
            under the call for proposals 2012 – second program of community action in the field of health (2008-2013).
        </div>
        <div class="clearfix visible-lg"></div>
      </div>
    </div>
  <br/>

  <nav class="navbar navbar-default navbar-static-bottom">
      <div class="container">
           <p class="navbar-text">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2014-2016 Enerca. All rights reserved. </p>
      </div>
  </nav>
{% endblock %}

