{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block pagetitle %}Add patient information{% endblock %}

{% block head %}
              <script>
                $(document).ready(function() {
                    $('#id_demo-data_entered_by_name').attr('disabled', true);
                    $('#id_demo-data_entered_by_relationship').attr('disabled', true);
                    $('#id_demo-data_entered_by').change(function () {
                        var value = $(this).val()
                        //alert(value)
                        if (value === 'Other'){
                            $('#id_demo-data_entered_by_name').attr('disabled', false);
                            $('#id_demo-data_entered_by_relationship').attr('disabled', false);
                        }
                        if (value != 'Other'){
                            $('#id_demo-data_entered_by_name').attr('disabled', true);
                            $('#id_demo-data_entered_by_relationship').attr('disabled', true);
                        }
                    });
                });
            </script>
            <!--<script>-->
                <!--$(document).ready(function() {-->
                    <!--$('#').each(function() {-->
                        <!--var option = $(this).val();-->
                        <!--alert (option)-->
                    <!--});-->
                <!--});-->
            <!--</script>-->

            <script>
                $(document).ready(function() {

                    //var id = $(':checkbox').val()
                    //alert(id)
                    //NEW
                    $("#id_diag-comment_1").parent().addClass("hide")
                    $("#id_diag-comment_2").parent().addClass("hide")
                    $("#id_diag-comment_3").parent().addClass("hide")
                    $("#id_diag-comment_4").parent().addClass("hide")
                    $("#id_diag-comment_5").parent().addClass("hide")
                    $("#id_diag-comment_6").parent().addClass("hide")
                    $("#id_diag-comment_7").parent().addClass("hide")



//                    var checkboxes =choices_table.getElementsByTagName('input');
//                    for (var i = checkboxes.length; i >0; i--)
//                    {
//                        alert (i)
//                        checkboxes[i].parent().addClass("hide")
//                    }

                    $('input:checkbox').change(function () {
                        var value = String($(this).val())


//                        alert(value)
                        var uncheckedValues = $('input:checkbox:not(:checked)').map(function() {
                        return this.value;
                        }).get();
                        //alert(uncheckedValues)

//                        var clear_uncheckedValues = uncheckedValues.split(",").join(", ")
//                        alert(clear_uncheckedValues)
                        var after = value.split(",").join(", ")

//                        after = after.join(value)



                        if (value == 'b-thalassaemia syndromes' | value == 'a-thalassaemia syndromes' | value=='Other haemoglobin variants' | value=='Sickle cell syndromes' ){
                            //$('#mytab a[href="#3"]').parent().removeClass("hide");
                            //NEW
                            if (value == 'b-thalassaemia syndromes') {
                                $("#id_diag-comment_5").parent().addClass("show")
                                $("#id_diag-comment_6").parent().addClass("show")
                                $("#id_diag-comment_7").parent().addClass("show")
                            }
                            if (value == 'a-thalassaemia syndromes') {
                                $("#id_diag-comment_1").parent().addClass("show")
                                $("#id_diag-comment_2").parent().addClass("show")
                                $("#id_diag-comment_3").parent().addClass("show")
                                $("#id_diag-comment_4").parent().addClass("show")
                            }
//                            alert(value)
                            //$('#mytab a[href="#4"]').parent().addClass("hide");
                            //$('#mytab a[href="#5"]').parent().addClass("hide");
                            //$('#mytab a[href="#6"]').parent().addClass("hide");
                        }

//
                       /*else if (value == 'Rare cell enzyme disorders'){
                            //$('#mytab a[href="#3"]').parent().addClass("hide");
                            //$('#mytab a[href="#4"]').parent().removeClass("hide");
                            //$('#mytab a[href="#5"]').parent().addClass("hide");
                            //$('#mytab a[href="#6"]').parent().addClass("hide");
                        }



                       else if (value == 'Rare cell membrane disorders'){
                            //$('#mytab a[href="#3"]').parent().addClass("hide");
                            //$('#mytab a[href="#4"]').parent().addClass("hide");
                            //$('#mytab a[href="#5"]').parent().removeClass("hide");
                            //$('#mytab a[href="#6"]').parent().addClass("hide");
                       }


                       else if (value == 'Congenital dyserythropoietic anaemias'){
                            //$('#mytab a[href="#3"]').parent().addClass("hide");
                            //$('#mytab a[href="#4"]').parent().addClass("hide");
                            //$('#mytab a[href="#5"]').parent().addClass("hide");
                            //$('#mytab a[href="#6"]').parent().removeClass("hide");
                       }

                       else if ((after.indexOf('b-thalassaemia syndromes') >= 0 | after.indexOf('a-thalassaemia syndromes') >= 0 | after.indexOf('Other haemoglobin variants') >= 0 | after.indexOf('Sickle cell syndromes') >= 0) && after.indexOf('Rare cell enzyme disorders') >= 0) {
                           //alert("here")
                           *//*$('#mytab a[href="#3"]').parent().removeClass("hide");
                           $('#mytab a[href="#4"]').parent().removeClass("hide");
                           $('#mytab a[href="#5"]').parent().addeClass("hide");
                           $('#mytab a[href="#6"]').parent().addClass("hide");*//*
                       }

                       else if ((after.indexOf('b-thalassaemia syndromes') >= 0 | after.indexOf('a-thalassaemia syndromes') >= 0 | after.indexOf('Other haemoglobin variants') >= 0 | after.indexOf('Sickle cell syndromes') >= 0) && after.indexOf('Rare cell membrane disorders') >= 0) {
                           //alert("here")
                           *//*$('#mytab a[href="#3"]').parent().removeClass("hide");
                           $('#mytab a[href="#4"]').parent().addClass("hide");
                           $('#mytab a[href="#5"]').parent().removeClass("hide");
                           $('#mytab a[href="#6"]').parent().addClass("hide");*//*
                       }

                       else if ((after.indexOf('b-thalassaemia syndromes') >= 0 | after.indexOf('a-thalassaemia syndromes') >= 0 | after.indexOf('Other haemoglobin variants') >= 0 | after.indexOf('Sickle cell syndromes') >= 0) && after.indexOf('Congenital dyserythropoietic anaemias') >= 0) {
                           //alert("here")
                           $('#mytab a[href="#3"]').parent().removeClass("hide");
                           $('#mytab a[href="#4"]').parent().addClass("hide");
                           $('#mytab a[href="#5"]').parent().addClass("hide");
                           $('#mytab a[href="#6"]').parent().removeClass("hide");
                       }

                       else if ( after.indexOf('Rare cell membrane disorders') >= 0 && after.indexOf('Rare cell enzyme disorders') >= 0) {
                           //alert("here")
                           $('#mytab a[href="#3"]').parent().addClass("hide");
                           $('#mytab a[href="#4"]').parent().removeClass("hide");
                           $('#mytab a[href="#5"]').parent().removeClass("hide");
                           $('#mytab a[href="#6"]').parent().addClass("hide");
                       }

                       else if ( after.indexOf('Rare cell membrane disorders') >= 0 && after.indexOf('Congenital dyserythropoietic anaemias') >= 0) {
                           //alert("here")
                           $('#mytab a[href="#3"]').parent().addClass("hide");
                           $('#mytab a[href="#4"]').parent().addClass("hide");
                           $('#mytab a[href="#5"]').parent().removeClass("hide");
                           $('#mytab a[href="#6"]').parent().removeClass("hide");
                       }

                       else if ( after.indexOf('Rare cell enzyme disorders') >= 0 && after.indexOf('Congenital dyserythropoietic anaemias') >= 0) {
                           //alert("here")
                           $('#mytab a[href="#3"]').parent().addClass("hide");
                           $('#mytab a[href="#4"]').parent().removeClass("hide");
                           $('#mytab a[href="#5"]').parent().addClass("hide");
                           $('#mytab a[href="#6"]').parent().removeClass("hide");
                       }
                       if (uncheckedValues.indexOf('b-thalassaemia syndromes') >= 0 && uncheckedValues.indexOf('a-thalassaemia syndromes') >= 0 && uncheckedValues.indexOf('Other haemoglobin variants') >= 0 && uncheckedValues.indexOf('Sickle cell syndromes') >= 0 ) {
                            $('#mytab a[href="#3"]').parent().addClass("hide");

                        }*/
                       //NEW
                       if (uncheckedValues.indexOf('b-thalassaemia syndromes') >= 0) {
                               $("#id_diag-comment_5").parent().removeClass("show")
                               $("#id_diag-comment_6").parent().removeClass("show")
                               $("#id_diag-comment_7").parent().removeClass("show")
                           }

                       if (uncheckedValues.indexOf('a-thalassaemia syndromes') >= 0) {
                                $("#id_diag-comment_1").parent().removeClass("show")
                                $("#id_diag-comment_2").parent().removeClass("show")
                                $("#id_diag-comment_3").parent().removeClass("show")
                                $("#id_diag-comment_4").parent().removeClass("show")
                            }
                      /* if (uncheckedValues.indexOf('Rare cell enzyme disorders') >= 0) {
                            $('#mytab a[href="#4"]').parent().addClass("hide");
                        }
                       if (uncheckedValues.indexOf('Rare cell membrane disorders') >= 0) {
                            $('#mytab a[href="#5"]').parent().addClass("hide");
                        }
                       if (uncheckedValues.indexOf('Congenital dyserythropoietic anaemias') >= 0) {
                            $('#mytab a[href="#6"]').parent().addClass("hide");
                        }*/

                    });
                });
            </script>

            <!--<script>
                $(document).ready(function() {
                    $('#id_diag-icd_10_desc').change(function () {
                                var code = $(this).val();
                                alert(code);
                                $.ajax({
                                    url: "{% url 'icd10-autocomplete'  %}",
                                    type: "post",
                                    data: {
                                        //                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        code: code
                                    },
                                    async: true,
                                    success: function (response) {
//                                        alert(response)
                                        $('#id_diag-icd_10_code').val(response)
                                        //                                        window.location.href = response.redirect

                                    }
                                })

                            }
                    )

                });
            </script>-->
           <script>
                 $(document).ready(function() {
                     $('#id_diag-icd_10_desc').change(function () {
                         alert($(this.value()));
                     })
                 })


               $('select').select2({
                      ajax: {
                        url: "{% url 'icd10-autocomplete'  %}"
                      }
                    });
           </script>
        <script>
            $(document).ready(function() {
                $('#div_id_demo-anonymisation_code').hide('fast');
            });

        </script>


        <script>
                $(document).ready(function() {
                    $("input[name='diag-diagnosis_option']").change(function () {
                        var $this = $(this)
                        if ($(this).prop('checked')) {
                            var option = $(this).val();
                            //alert(unescape(escape($(this).attr('value'))));
                            $(this).parent().append('<label><input class="extended" type="checkbox" id="extended" name="extended" value='+escape($(this).attr('value'))+'>Laboratory tests</label>');
                        }
                        else if( $this.siblings('label').length ) {
                    $this.siblings('label').remove();
                    }
                    });
                });
        </script>
         <script>
                $(document).ready(function() {
                    $(document).on('change','#extended',function () {
                        var option = unescape($(this).val());
                        //get all the extended selections
                        var selected = $('.extended:checked').map(function () {
                            return unescape($(this).attr('value'));
                        }).get();
                        //alert(selected);
                        if (this.checked) {
                            //alert(option);
                            if (option == '1' | option == '2' | option == '3' | option == '4') {
                                $('#mytab a[href="#3"]').parent().removeClass("hide");
                            }
                            if (option == '5') {
                                $('#mytab a[href="#5"]').parent().removeClass("hide");
                            }
                            if (option == '6') {
                                $('#mytab a[href="#4"]').parent().removeClass("hide");
                            }
                            if (option == '7') {
                                $('#mytab a[href="#6"]').parent().removeClass("hide");
                            }
                        }
                        else if (!(this.checked))
                            {
                                if (selected.indexOf('1') <0 & selected.indexOf('2') <0 & selected.indexOf('3') <0  & selected.indexOf('4') <0  )
                                {
                                    $('#mytab a[href="#3"]').parent().addClass("hide")
                                }
                                if (option == '5') {
                                    $('#mytab a[href="#5"]').parent().addClass("hide");
                                }
                                if (option == '6') {
                                    $('#mytab a[href="#4"]').parent().addClass("hide");
                                }
                                if (option == '7') {
                                    $('#mytab a[href="#6"]').parent().addClass("hide");
                                }
                            }
                    });
                });
            </script>
            <script>
                 $(document).ready(function() {
                     if ($("input[name='module_id_2']").change(function () {
                        var $this = $(this)
                        if ($this[0].checked) {
                            //alert($this.val())
                            $('#mytab a[href="#7"]').parent().removeClass("hide")
                        }
                        if (!($this[0].checked )) {
                            //alert($this.val())
                            $('#mytab a[href="#7"]').parent().addClass("hide")
                        }
                     }));
                     if ($("input[name='module_id_3']").change(function () {
                        var $this = $(this)
                        if ($this[0].checked) {
                            //alert($this.val())
                            $('#mytab a[href="#8"]').parent().removeClass("hide")
                        }
                        if (!($this[0].checked )) {
                            //alert($this.val())
                            $('#mytab a[href="#8"]').parent().addClass("hide")
                        }
                     }));
                     if ($("input[name='module_id_4']").change(function () {
                        var $this = $(this)
                        if ($this[0].checked) {
                            //alert($this.val())
                            $('#mytab a[href="#9"]').parent().removeClass("hide")
                        }
                        if (!($this[0].checked )) {
                            //alert($this.val())
                            $('#mytab a[href="#9"]').parent().addClass("hide")
                        }
                     }));
                 });

            </script>
            <script>
                function myFunction() {
                    var r = confirm("Patient added successfully!\nIf you want to add another patient click OK!");
                    if (r == true) {
                        window.location = "{% url 'input' %}";
                    } else {
                        txt = "You pressed Cancel!";
                    }
                }
            </script>
            {%if added_patient == 1 %}
                <script>window.onload = myFunction();</script>
            {%endif%}




            <!--Needed for calendar-->


{% endblock %}

{%block jumbotron_title %}Add new patient to the eRegistry{% endblock %}
{%block jumbotron_info %}Insert patient's demographics and diagnosis data.

    <div class="alert alert-warning" >
        <strong>If you want to select different module(s) for this patient, you have to select modules firstly and then add new patient to the system</strong>.
    </div>

        {% if 'module_2' not in  request.COOKIES or 'module_3' not in  request.COOKIES or 'module_4' not in  request.COOKIES %}<div class="alert alert-success"><strong>Select extra modules for this patient:</strong><br/>{%endif%}
        {% if 'module_2' not in  request.COOKIES %}<strong><input type="checkbox" name="module_id_2" id="module_id_2" value="2">Module 2: Clinical Findings of Thalassaemia and Severe Anaemias<br/></strong>{%endif%}
        {% if 'module_3' not in  request.COOKIES %}<strong><input type="checkbox" name="module_id_3" id="module_id_3" value="3">Module 3: Clinical findings of Sickle Cell Disease<br/></strong>{%endif%}
        {% if 'module_4' not in  request.COOKIES %}<strong><input type="checkbox" name="module_id_4" id="module_id_4" value="4">Module 4: Patient reported outcomes</strong>{%endif%}
        {% if 'module_2' not in  request.COOKIES or 'module_3' not in  request.COOKIES or 'module_4' not in  request.COOKIES %}</div>{%endif%}

    <div class="alert alert-warning" >
        <strong>
        {% if request.get_full_path == patientConsent_url %} class="active"{% endif %}Please print <a href="{% url 'patientConsent'  %}" target="_blank">Patient Consent form</a> and give to patient to sign it. It's obligatory</strong>.
    </div>
        {% endblock %}
{% block content %}

<!-- Nav tabs -->
<!--<ul class="nav nav-tabs">-->
    <!--<li class="active"><a href="#demographics" role="tab" data-toggle="tab">Demographics</a></li>-->
    <!--<li><a href="#diagnosis" role="tab" data-toggle="tab">Diagnosis</a></li>-->
    <!--<li><a href="#a_b_sickle" role="tab" data-toggle="tab">A_b_sickle</a></li>-->
    <!--<li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->

    <!-- Tab panes -->
<input type="hidden" id="my_option" name='diagnosis_option' value="{{diag_option}}" />

<form class="form-horizontal" method="post" id="input">
    {% csrf_token %}

    <div class="tab-pane" id="mytab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Demographics</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Diagnosis</a>
            </li>
            <li class="hide">
                <a href="#3" data-toggle="tab">Haemoglobin disorders diagnostic tests</a>
            </li>
            <li class="hide">
                <a href="#4" data-toggle="tab">Red cell enzyme disorders</a>
            </li>
            <li class="hide">
                <a href="#5" data-toggle="tab">Red cell membrane disorders</a>
            </li>
            <li class="hide">
                <a href="#6" data-toggle="tab">Congenital desyrythropoietic anaemias</a>
            </li>
            <li class="hide">
                <a href="#7" data-toggle="tab">Annual Summary of Thalassaemia and Severe Anaemias</a>
            </li>
            <li class="hide">
                <a href="#8" data-toggle="tab">Annual Summary of Sickle Cell disease</a>
            </li>
            <li class="hide">
                <a href="#9" data-toggle="tab">Patient reported outcomes</a>
            </li>

            <!--<li>-->
                <!--<a href="#7" data-toggle="tab">Clinical Data</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content">

            <div class="tab-pane fade in active" id="1">
                <!--<input type="hidden" name="form_id" value="demographics">-->
                <div class="container"> {%crispy frm %}</div>

            </div>
            <div class="tab-pane fade" id="2">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="diagnosis">-->
                <div class="container">{%crispy frm_d%}</div>
            </div>
            <div class="tab-pane" id="3">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">{%crispy frm_a_b_s%}</div>
            </div>
             <div class="tab-pane" id="4">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container"> {%crispy frm_rc_enz%}</div>
            </div>
            <div class="tab-pane" id="5">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container"> {%crispy frm_rc_mbr%}</div>
            </div>
            <div class="tab-pane" id="6">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container"> {%crispy frm_cong_dys%}</div>
            </div>
            <div class="tab-pane fade" id="7">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container"> {%crispy frm_cln_dt%}</div>
            </div>
            <div class="tab-pane fade" id="8">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">{%crispy frm_cln_dt_two%}</div>
            </div>
             <div class="tab-pane fade" id="9">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">{%crispy ptn_rep_out%}</div>
             </div>


            <!--<div class="tab-pane" id="7">-->
                <!--&lt;!&ndash; form controls to be continued here &ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="form_id" value="a_b_s">&ndash;&gt;-->
                <!--<div class="container"> </div>-->
            <!--</div>-->
        </div>
    </div>
    <!--<input type="submit" name='submit' value="Submit">-->
</form>

 {% block footer %}

<script type="text/javascript" src="http://dal-yourlabs.rhcloud.com/static/collected/admin/js/vendor/jquery/jquery.js"></script>


{{ frm_d.media }}

{% endblock %}

{% endblock %}

