{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load pagination_tags %}

{% block pagetitle %}Inputs{% endblock %}

{% block head %}

            <script>
                function load_page(id){
                    alert(id);
                    $.ajax({
                        url: "/results",
                        type: "post",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            sentence: id
                        },
                        async: true,
                        success: function (response){
                            alert(response)
                            window.location.href = response.redirect

                        }
                    })
                }
            </script>
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script src ="http://code.highcharts.com/highcharts.js"></script>


            {% load chartit %}
            {{ charts|load_charts:"c1, c2, c3, c4 ,c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17, c18, c19, c20, c21, c22, c23, c24, c25, c26, c27, c28, c29, c30, c31, c32, c33, c34, c35, c36, c37, c38, c39, c40" }}




            <!--<link rel="stylesheet" type="text/css" href="{% static 'admin/css/global.css' %}"/>-->


            <!--<script>-->
                <!--$(document).ready(function() {-->
                    <!--$('#id_diag-diagnosis_option').change(function () {-->
                        <!--var value = $(this).val()-->
<!--//                        alert(value)-->
                        <!--if (value === 'b-thalassaemia syndromes' | value === 'a-thalassaemia syndromes' | value==='Other haemoglobin variants' ){-->
                            <!--$('#mytab a[href="#3"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->
                        <!--if (value === 'Rare cell enzyme disorders'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->

                        <!--if (value === 'Rare cell membrane disorders'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->

                        <!--if (value === 'Congenital desyrythropoietic anaemias'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().removeClass("hide");-->
                        <!--}-->

                    <!--});-->
                <!--});-->
            <!--</script>-->
{% endblock %}

{%block jumbotron_title %}Analytics{% endblock %}
{%block jumbotron_info %}You have the option to update patient's data or add new.{% endblock %}

{% block content %}

 <div class="tab-pane" id="mytab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Patient consent</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Totals</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab">By date of birth (age) and for each diagnosis</a>
            </li>
            <li>
                <a href="#4" data-toggle="tab">Gender</a>
            </li>
            <li>
                <a href="#5" data-toggle="tab">Health Insurance</a>
            </li>
            <li>
                <a href="#6" data-toggle="tab">Education</a>
            </li>
            <li>
                <a href="#7" data-toggle="tab">Location</a>
            </li>
            <li>
                <a href="#8" data-toggle="tab">Molecular epidemiology</a>
            </li>
            <li>
                <a href="#9" data-toggle="tab">Diagnostic circumstances</a>
            </li>
            <li>
                <a href="#10" data-toggle="tab">Complications not already listed</a>
            </li>
            <li>
                <a href="#11" data-toggle="tab">Hydroxyurea HU</a>
            </li>
            <li>
                <a href="#12" data-toggle="tab">Erythropoetin EPO</a>
            </li>
            <li>
                <a href="#13" data-toggle="tab">Splenectomy</a>
            </li>
            <li>
                <a href="#14" data-toggle="tab">Mortality</a>
            </li>

            <!--<li>-->
                <!--<a href="#7" data-toggle="tab">Clinical Data</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content">

            <div class="tab-pane fade in active" id="1">
                <!--<input type="hidden" name="form_id" value="demographics">-->
                <div class="container">
                    <h2>Patient Consent correlations</h2>

                    <center><div id="c1" style="width: 50%; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>


                    <!--<p>Age distribution: {{ age_values }}</p>
                    <p>Age frequency: {{ age_freq }}</p>-->

                    <p>&#9632 <b>Number of patients signed for data storage</b>: {{ data_storage }}</p>
                    <p>&#9632 <b>Number of patients signed for data reuse</b>: {{ data_reuse }}</p>
                    <p>&#9632 <b>Number of patients signed for both</b>: {{ data_both }}</p>

                    <center><div id="c2" style="width: 50%; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                </div>

            </div>
            <div class="tab-pane fade" id="2">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="diagnosis">-->
                <div class="container">
                    <h2>Totals</h2>
                    <br/>
                    <p>&#9632 <b>Total number of patients</b>: {{ total_num }}</p>

                    <center><div id="c3" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Total number of patients by country of residence per diagnosis</b>:</p>
                    <center><div id="c4" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c5" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c6" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c7" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c8" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c9" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c10" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Total number of patients by country of origin per diagnosis</b>:</p>
                    <center><div id="c11" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c12" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c13" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c14" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c15" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c16" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c17" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Total number of patients by ethnic group per diagnosis</b>:</p>
                    <center><div id="c18" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c19" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c20" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c21" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c22" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c23" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c24" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>



                </div>
            </div>
            <div class="tab-pane" id="3">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">
                    <p>&#9632 <b>Age distribution per diagnosis</b>:</p>
                    <center><div id="c25" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c26" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c27" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c28" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c29" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c30" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c31" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Age distribution by educational level</b>:</p>
                    <center><div id="c32" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c33" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c34" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c35" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Age distribution by employment/unemployment</b>:</p>
                    <center><div id="c36" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <center><div id="c37" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                    <p>&#9632 <b>Proportion of adult patients who are married</b>: {{ prop_married }}%</p>
                    <p>&#9632 <b>Proportion of adult patients who are parents</b>: {{ prop_parents }}%</p>
                    <center><div id="c38" style="width: auto; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>



                </div>
            </div>
             <div class="tab-pane" id="4">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane" id="5">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane" id="6">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane fade" id="7">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane fade" id="8">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
             <div class="tab-pane fade" id="9">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
             </div>


            <!--<div class="tab-pane" id="7">-->
                <!--&lt;!&ndash; form controls to be continued here &ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="form_id" value="a_b_s">&ndash;&gt;-->
                <!--<div class="container"> </div>-->
            <!--</div>-->
        </div>









<!--<p>Number of males: {{ males }}</p>
<p>Number of females: {{ females }}</p>
 <center>
<div id="three"style="width: 50%; height: auto "> Chart will be rendered here </div>
</br>
<div id="four"style="width: 50%; height: auto "> Chart will be rendered here </div></center>-->

</div>
{% endblock %}
