{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load pagination_tags %}
{% block pagetitle %}Inputs{% endblock %}


{% block head %}
            <script>
                function load_page(id){
                    alert(id);
                    $.ajax({
                        url: "/results",
                        type: "post",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            sentence: id
                        },
                        async: true,
                        success: function (response){
                            alert(response)
                            window.location.href = response.redirect

                        }
                    })
                }
            </script>
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script src ="http://code.highcharts.com/highcharts.js"></script>

            {% load chartit %}
            {{ charts|load_charts:"one, two, three, four" }}




            <!--<link rel="stylesheet" type="text/css" href="{% static 'admin/css/global.css' %}"/>-->


            <!--<script>-->
                <!--$(document).ready(function() {-->
                    <!--$('#id_diag-diagnosis_option').change(function () {-->
                        <!--var value = $(this).val()-->
<!--//                        alert(value)-->
                        <!--if (value === 'b-thalassaemia syndromes' | value === 'a-thalassaemia syndromes' | value==='Other haemoglobin variants' ){-->
                            <!--$('#mytab a[href="#3"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->
                        <!--if (value === 'Rare cell enzyme disorders'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->

                        <!--if (value === 'Rare cell membrane disorders'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().removeClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().addClass("hide");-->
                        <!--}-->

                        <!--if (value === 'Congenital desyrythropoietic anaemias'){-->
                            <!--$('#mytab a[href="#3"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#4"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#5"]').parent().addClass("hide");-->
                            <!--$('#mytab a[href="#6"]').parent().removeClass("hide");-->
                        <!--}-->

                    <!--});-->
                <!--});-->
            <!--</script>-->
{% endblock %}

{%block jumbotron_title %}Analytics{% endblock %}
{%block jumbotron_info %}You have the option to update patient's data or add new.{% endblock %}

{% block content %}

 <div class="tab-pane" id="mytab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Patient consent</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Totals</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab">By date of birth (age) and for each diagnosis</a>
            </li>
            <li>
                <a href="#4" data-toggle="tab">Gender</a>
            </li>
            <li>
                <a href="#5" data-toggle="tab">Health Insurance</a>
            </li>
            <li>
                <a href="#6" data-toggle="tab">Education</a>
            </li>
            <li>
                <a href="#7" data-toggle="tab">Location</a>
            </li>
            <li>
                <a href="#8" data-toggle="tab">Molecular epidemiology</a>
            </li>
            <li>
                <a href="#9" data-toggle="tab">Diagnostic circumstances</a>
            </li>
            <li>
                <a href="#10" data-toggle="tab">Complications not already listed</a>
            </li>
            <li>
                <a href="#11" data-toggle="tab">Hydroxyurea HU</a>
            </li>
            <li>
                <a href="#12" data-toggle="tab">Erythropoetin EPO</a>
            </li>
            <li>
                <a href="#13" data-toggle="tab">Splenectomy</a>
            </li>
            <li>
                <a href="#14" data-toggle="tab">Mortality</a>
            </li>

            <!--<li>-->
                <!--<a href="#7" data-toggle="tab">Clinical Data</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content">

            <div class="tab-pane fade in active" id="1">
                <!--<input type="hidden" name="form_id" value="demographics">-->
                <div class="container">
                    <h2>Patient Consent correlations</h2>

                    <center><div id="one" style="width: 50%; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>


                    <!--<p>Age distribution: {{ age_values }}</p>
                    <p>Age frequency: {{ age_freq }}</p>-->

                    <p>Number of patients signed for data storage: {{ data_storage }}</p>
                    <p>Number of patients signed for data reuse: {{ data_reuse }}</p>
                    <p>Number of patients signed for both: {{ data_both }}</p>

                    <center><div id="two" style="width: 50%; height: auto " > Chart will be rendered here </div>
                    </br>
                    </center>
                </div>

            </div>
            <div class="tab-pane fade" id="2">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="diagnosis">-->
                <div class="container">
                    <h2>Totals</h2>
                    <br/>
                    <p>Total number of patients: {{ total_num }}</p>
                    <p>Total number of patients having</p>
                    <ul>
                        <li><p>b-thalassaemia syndromes: {{total_patients_beta}}</p></li>
                        <li><p>a-thalassaemia syndromes: {{total_patients_alpha}}</p></li>
                        <li><p>Sickle cell syndromes: {{total_patients_sickle}}</p></li>
                        <li><p>Other haemoglobin variants: {{total_patients_other_haem}}</p></li>
                        <li><p>Red cell membrane disorders: {{total_patients_meb_dis}}</p></li>
                        <li><p>Red cell enzyme disorders: {{total_patients_enz_dis}}</p></li>
                        <li><p>Congenital dyserythropoietic anaemias: {{total_patients_cong}}</p></li>
                    </ul>


                </div>
            </div>
            <div class="tab-pane" id="3">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
             <div class="tab-pane" id="4">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane" id="5">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane" id="6">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane fade" id="7">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
            <div class="tab-pane fade" id="8">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
            </div>
             <div class="tab-pane fade" id="9">
                <!-- form controls to be continued here -->
                <!--<input type="hidden" name="form_id" value="a_b_s">-->
                <div class="container">

                </div>
             </div>


            <!--<div class="tab-pane" id="7">-->
                <!--&lt;!&ndash; form controls to be continued here &ndash;&gt;-->
                <!--&lt;!&ndash;<input type="hidden" name="form_id" value="a_b_s">&ndash;&gt;-->
                <!--<div class="container"> </div>-->
            <!--</div>-->
        </div>









<!--<p>Number of males: {{ males }}</p>
<p>Number of females: {{ females }}</p>
 <center>
<div id="three"style="width: 50%; height: auto "> Chart will be rendered here </div>
</br>
<div id="four"style="width: 50%; height: auto "> Chart will be rendered here </div></center>-->

</div>
{% endblock %}
